.subject {
  display: flex;
  margin-top: 3vh;
  justify-content: center;
  gap: 10px;
}

.content {
  text-align: left;
}

button {
  background-color: black;
  color: #E6007A;
  font-size: 1em;
  margin-top: 5vh;
}

button:hover {
  cursor: pointer;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

body {
  color: #e0e0e0;
  font-family: sans-serif;
  margin: 2vh 1vw 2vh;
  text-align: center;
}

a:link {
  color: #E6007A;
}

a:visited {
  color: #FF4500;
}

a:hover {
  cursor: pointer;
}

ul {
  margin-top: 0vh;
}
